In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv("taxi_trip_pricing.csv")

df.head(20)

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
5,8.64,Afternoon,Weekend,2.0,Medium,Clear,2.55,1.71,0.48,89.33,60.2028
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
8,30.45,Morning,Weekday,3.0,High,Clear,2.77,1.78,0.34,110.33,NaN
9,35.70,Afternoon,Weekday,2.0,Low,Rain,3.39,1.52,0.47,NaN,75.5657
10,NaN,Morning,Weekday,4.0,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
11,48.53,Night,Weekday,3.0,Low,Clear,4.78,NaN,0.50,79.94,NaN
12,41.79,Night,Weekend,3.0,High,Clear,4.60,1.77,0.11,86.95,88.1328
13,11.40,Morning,Weekday,3.0,NaN,Clear,4.12,NaN,0.15,84.12,36.1180
14,9.91,Evening,Weekday,2.0,High,Clear,2.32,1.26,0.34,41.72,28.9914
15,9.99,Night,Weekday,4.0,High,Clear,4.33,0.85,0.43,34.00,27.4415
16,15.91,Morning,Weekday,4.0,Low,Clear,4.42,1.77,0.21,114.93,56.7160
17,26.71,Afternoon,Weekend,4.0,Low,Rain,4.30,1.59,0.20,111.18,69.0049
18,22.17,Night,NaN,4.0,Low,Clear,2.34,1.97,0.41,57.59,69.6268
19,15.27,Morning,NaN,NaN,Low,Clear,3.93,0.73,0.12,NaN,27.3543

In [11]:
df.describe()

,Trip_Distance_km,Passenger_Count,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
count,950.000000,950.000000,950.000000,950.000000,950.000000,950.000000,951.000000
mean,27.070547,2.476842,3.502989,1.233316,0.292916,62.118116,56.874773
std,19.905300,1.102249,0.870162,0.429816,0.115592,32.154406,40.469791
min,1.230000,1.000000,2.010000,0.500000,0.100000,5.010000,6.126900
25%,12.632500,1.250000,2.730000,0.860000,0.190000,35.882500,33.742650
50%,25.830000,2.000000,3.520000,1.220000,0.290000,61.860000,50.074500
75%,38.405000,3.000000,4.260000,1.610000,0.390000,89.055000,69.099350
max,146.067047,4.000000,5.000000,2.000000,0.500000,119.840000,332.043689

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [13]:
df.isnull().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

## Handling missing values

In [17]:
# --- Define Constants ---
TARGET_COLUMN = 'Trip_Price'
MODE_IMPUTE_FEATURES = ['Passenger_Count']

# Get all columns that are NOT the target
feature_columns = df.columns.drop(TARGET_COLUMN)
features_to_impute = df[feature_columns]

# Define Groups
all_numerical = features_to_impute.select_dtypes(include=[np.number]).columns
all_categorical = features_to_impute.select_dtypes(include=['object']).columns

# Numerical features that will be filled with the MEAN (Excludes Passenger_Count)
numerical_mean_impute = [col for col in all_numerical if col not in MODE_IMPUTE_FEATURES]

# Features that will be filled with the MODE (Passenger_Count + all Categorical)
mode_impute_features = MODE_IMPUTE_FEATURES + list(all_categorical)

print(f"Features (Mean Imputation): {numerical_mean_impute}")
print(f"Features (Mode Imputation): {mode_impute_features}\n")


# Impute numerical features with the MEAN
for feature in numerical_mean_impute:
    # Calculate the mean and fill NA values in the original DataFrame
    mean_value = df[feature].mean()
    df[feature].fillna(mean_value)
    
# Impute Passenger_Count and categorical features with the MODE
for feature in mode_impute_features:
    # Calculate the mode and fill NA values in the original DataFrame
    mode_value = df[feature].mode()[0]
    df[feature].fillna(mode_value)


print("Missing Value Counts After Imputation:")
print(df.isnull().sum())

Features (Mean Imputation): ['Trip_Distance_km', 'Base_Fare', 'Per_Km_Rate', 'Per_Minute_Rate', 'Trip_Duration_Minutes']
Features (Mode Imputation): ['Passenger_Count', 'Time_of_Day', 'Day_of_Week', 'Traffic_Conditions', 'Weather']

Missing Value Counts After Imputation:
Trip_Distance_km          0
Time_of_Day               0
Day_of_Week               0
Passenger_Count           0
Traffic_Conditions        0
Weather                   0
Base_Fare                 0
Per_Km_Rate               0
Per_Minute_Rate           0
Trip_Duration_Minutes     0
Trip_Price               49
dtype: int64

In [19]:
# lets handle our missing values in our target column 'Trip_Price' next for all rows where Trip_Price is missing

def calculate_trip_price(row):
    return (row['Trip_Distance_km'] * row['Per_Km_Rate']) + \
           (row['Per_Minute_Rate'] * row['Trip_Duration_Minutes']) + \
           row['Base_Fare']

missing_target_mask = df['Trip_Price'].isnull()
df.loc[missing_target_mask, 'Trip_Price'] = df[missing_target_mask].apply(calculate_trip_price, axis=1)

print("Missing Value Counts After Imputing Target:")
print(df.isnull().sum())

Missing Value Counts After Imputing Target:
Trip_Distance_km         0
Time_of_Day              0
Day_of_Week              0
Passenger_Count          0
Traffic_Conditions       0
Weather                  0
Base_Fare                0
Per_Km_Rate              0
Per_Minute_Rate          0
Trip_Duration_Minutes    0
Trip_Price               0
dtype: int64